*{
    margin:0;
    padding:0;
    outline:none;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
}
html{
  font-size: 62.5%;
}
/*Main heading style attributes*/
.h1{
  font-family: 'Baloo Da 2',serif ;
  font-size: 7rem; 
  font-weight: 50;
  color:white;
  position: absolute;
  top:2%;
  left:2%;
}
/*Main heading style attributes*/
.hamburger-menu{
  width :2.5rem;
  height:3rem;
  position:fixed;
  top:5rem;
  right:5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}
.change .hamburger-menu{
  right : 30rem;
}
.line{
  width:100%;
  height: 0.2rem;
  background-color: white;
  box-shadow: 0.1rem 0.2rem rgba(0,0,0,0.2);
}
.change .line{
  background-color: rgba(0, 0, 0, 0.8);
}

.change .line1{
  transform:rotate(45deg)
  translate(0.3rem, 0.8rem);
}

.change .line2{
  opacity:0;
  visibility: hidden;
}

.change .line3{
  transform:rotate(-45deg)
  translate(0.3rem, -0.8rem);
}
.sidebar{
  width:35rem;
  height:100vh;
  position:fixed;
  top:0;
  right:-35rem;
  background-color: white;
  transition: right 0.5s;
  z-index: 100;
}

.change .sidebar{
  right:0;
}
.menu{
  position:absolute;
  top:45%;
  left:50%;
  transform: translate(-50%,-50%);
}
.menu-item{
  text-align:center;
  margin: 1rem;
}
.menu-link{
  font-family: calibri;
  font-size: 3.5rem;
  color:#555;
  position: relative;
}
.menu-link::before{
  content: attr(data-content);
  position:absolute;
  top:0;
  left:0;
  color:#c29525;
  width:0;
  overflow:hidden;
  white-space: nowrap;
  transition:width .3s ease-in-out;
}
.menu-link:hover::before{
  width:100%;
}
.social-media{
  position:absolute;
  bottom:3rem;
  width:100%;
  display:flex;
  justify-content: center;
}
.social-media i{
  font-size: 2.2rem;
  margin: 3rem;
  width:4.5rem;
  height:4.5rem;
  background-color: #777;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition:background-color 0.3s;
}
/*signup box attributes*/
.signup{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#272727;
}
.signup-wrapper{
    margin-top:20px;
    width:53%;
    height:52rem;
    display: flex;
    position:absolute;
    background-color: #eee;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.signup-left{
  width:45%;
  background: linear-gradient(rgba(15,15,15,.6),rgba(22,22,22,.9)),url(images/background.jpg) center no-repeat;;
  background-size: cover;
  background-color: #272727;
}
.signup-right{
  padding: 3rem 3rem 3rem 3rem;
  width:60%;
  align-items: center;
  justify-content: center;
}
.heading{
    font-family: Cambria;
    font-size: 45px;
    font-weight: 300;
    color:#272727;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}
form{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.field{
    width:30ch;
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed #272727;
    margin: 16px 0 0;
    padding: 5px 5px 5px 0;
    font-family: Cambria;
    font-size: 14px;
    color:#272727;
}
.field:focus{
  border-bottom-style: solid;
}
.input-group input{
    height:20px;
}
.input-group{
    position:relative;
    margin-top: 15px;
}
.input-group label{
    position: absolute;
    left:0;
    font-family:cambria;
    font-size: 11px;
    color:#272727;
    text-transform: uppercase;
    pointer-events: none;
}
.login-label{
    position:relative;
    margin-top:10px;
    top:12%;
    font-family:cambria;
    font-size: 11px;
    color:#272727;
    text-transform: uppercase;

}
.submit-btn{
    width:45%;
    height:40px;
    background-color: orange;
    color: #272727;
    border: none;
    margin-top: 12px;
    margin-bottom: 11px;
    text-transform: uppercase;
    font-family: cambria;
    font-size: 16px;

}
/*Footer section attributes*/
.footer {
  width: 100%;
  height: 10rem;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  color: #a7a7a7;
}

.social-list a {
  margin: 0 2rem;
}

.social-list i {
  font-size: 2rem;
  color: #a7a7a7;
}
#output,#output1,#output2,#output3,#output4{
  color:red;
  font-size:1.5rem;
  margin-top:0;
  padding-top:0
}
/*Media queries*/
@media (max-width:1200px){
  .h1{
    font-size: 7rem;
  }
  .signup-wrapper{
    width:65%;
  }
  .signup-left{
    width:35%;
  }
  .field{
    width:33ch;
  }
  .input-group label{
    font-size:12px;
  }
}

@media (max-width:1030px){
  .h1{
    font-size: 6rem;
  }
  .signup-wrapper{
    top:15%;
    height:45rem;
  }
  .sidebar{
    width:30rem;
  }
  .menu-link{
    font-size: 2.9rem;
  }
  .change .hamburger-menu{
    right:25rem;
  }
  .footer{
    height:7rem;
  }
}

@media (max-width:830px){
  .signup-wrapper{
    width:50%;
    display: flex;
  }
  .signup-left{
    width: 0;
  }
  .signup-right{
    width: 100%;
  }
  .footer-content{
    width:80%;
  }
}

@media (max-width:600px){
  .signup-wrapper{
    width: 70%;
  }
  .footer{
    height:8rem;
    align-items: center;
    justify-content: center;
  }
  .footer-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .copyright{
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
  .social-list i{
    font-size: 1.5rem;
  }
}
@media (max-width:420px){
  .h1{
    font-size: 4rem;
  }
  .signup-wrapper{
    width:80%;
    top:20%;
    height: 45rem;
  }
}